@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "outfitMedium";
    src: url("./fonts/2/Outfit-Regular.ttf");
  }
  @font-face {
    font-family: "outfitBold";
    src: url("./fonts/2/Outfit-Bold.ttf");
  }
  @font-face {
    font-family: "workSans";
    src: url("./fonts/1/WorkSans-Regular.ttf");
  }
  @font-face {
    font-family: "workSansSBI";
    src: url("./fonts/1/WorkSans-SemiBoldItalic.ttf");
  }

  @keyframes card-animation {
    0% {
      visibility: visible;
    }
  }

  @keyframes circle-animation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  }

  .card-animation {
    animation: card-animation 0.4s ease infinite;
  }
  .circle-animation {
    animation: circle-animation 0.5s ease-in;
  }

  .triangle {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
  }

  .profileShape {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 99%, 0 70%, 0 30%);
  }

  ::-webkit-scrollbar {
    width: 0.55rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(277, 96%, 80%, 40%);
    border-radius: 10px;
  }

  .rangeInput {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    height: 20px;
    background: hsl(272, 56%, 74%, 5%);
    border-radius: 16px;
    overflow: hidden;
  }

  .rangeInput::-webkit-slider-runnable-track {
    height: 20px;
    background: hsl(272, 56%, 74%, 5%);
    border-radius: 16px;
  }

  .rangeInput::-moz-range-track {
    height: 20px;
    background: hsl(272, 56%, 74%, 5%);
    border-radius: 16px;
  }

  .rangeInput::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ab65ed;
    border-radius: 50%;
  }

  .rangeInput::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: #ab65ed;
    border-radius: 50%;
  }

  .rangeInput::-webkit-slider-thumb {
    box-shadow: -407px 0 0 400px #ab65ed;
  }

  .rangeInput::-moz-range-thumb {
    box-shadow: -407px 0 0 400px #ab65ed;
  }
}
@layer components {
  * {
    @apply m-0 p-0 box-border;
  }
  body {
    @apply w-screen h-screen font-workSans bg-black1 text-text overflow-x-hidden;
  }
  .bg-pattern {
    @apply bg-[url('/pattern.png')] bg-repeat opacity-10 bg-patternSize;
  }
  .bg-landing {
    @apply bg-gradient-to-b from-[#000000] from-0% to-[#200D42] to-30%;
  }
  .text-gradient1 {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#DB9FFF] from-0% to-[#9337C7] to-70%;
  }
  .screenWidth {
    @apply w-full max-w-screen-xl mx-auto px-5 sm:px-10 xl:px-0;
  }
  .appScreenWidth {
    @apply w-full max-w-screen-1920 mx-auto px-5 md:px-10 lg:px-20;
  }
  .cardSize {
    @apply w-8 h-12 sm:w-[3.2rem] sm:h-20  1920:w-20 1920:h-24;
  }
  h1 {
    @apply font-outfitBold text-gradient1 leading-[.9] tracking-heading text-6xl md:text-7xl lg:text-8xl 1920:text-[7rem];
  }
  h2 {
    @apply font-outfitMedium text-3xl md:text-4xl lg:text-5xl 1920:text-6xl;
  }
  h3 {
    @apply font-outfitMedium text-xl md:text-2xl lg:text-3xl 1920:text-4xl;
  }
  h4 {
    @apply font-outfitMedium text-lg md:text-xl lg:text-2xl 1920:text-3xl;
  }
  h5 {
    @apply font-outfitMedium text-base md:text-lg lg:text-xl 1920:text-2xl;
  }
  h6 {
    @apply font-outfitMedium text-sm md:text-base lg:text-lg 1920:text-xl;
  }
  p {
    @apply font-workSans text-sm md:text-base;
  }
  input,
  select,
  option {
    @apply bg-transparent outline-none w-full text-base md:text-xl;
  }
}
@layer utilities {
  .ellipse {
    clip-path: ellipse(50% 15% at 50% 50%);
    background: radial-gradient(
      circle,
      rgba(34, 34, 34, 1) 19%,
      rgba(149, 96, 235, 1) 100%
    );
    width: 1200px; /* Ajusta el ancho según sea necesario */
    height: 3000px; /* Ajusta la altura según sea necesario */
  }
}
